.team-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.team-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.teamMember {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.teamMember p {
    margin: 5px 0;
    line-height: 1.6;
}

.teamMember .imeMember {
    font-size: 18px;
    font-weight: bold;
}

.teamMember .brojMember {
    font-size: 14px;
}

.teamMember .mailMember {
    font-size: 14px;
    margin-top: 5px;
}

.teamMember .role {
    font-size: 14px;
    font-style: italic;
    color: #666;
}
