.Ministry-division{
    width: 50%;
    margin: auto;
    font-size: larger;
}
div.Ministry-division h2{
    margin: 25px 0;
}

div.Ministry-division ul{
    list-style-type: square ;
    padding: 0 15px;

}
div.Ministry-division ul li{
    margin: 20px 0;
}

@media (max-width: 768px) {
    .Ministry-division{
        width: 90%;
        font-size: 15px;
    }
}
@media (max-width: 480px) {

}