.footer {
    padding: 20px;
    background-color: #94b9e1;
    text-align: center;
    color: white !important;
}

.logoContainer {
    margin-bottom: 20px;
}

.logo {
    width: 254px;
    height: auto;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    margin: 10px 20px;
    text-align: left;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.infoContainer a {
    text-decoration: none;
    color: white !important;
}

.infoContainer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .infoContainer {
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
}

.credentials {
    background-color: #5684b2;
    text-align: center;
    color: white;
    padding: 12px;
}

.icon {
    color: white;
}

.arrowUpDiv {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: #2b5073 ;
    border-radius: 50%;
}

.goUp {
    color: #007bff;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    /*display: none;*/
    justify-content: center;
    align-items: center;
}

.goUp:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .infoContainer {
        justify-content: flex-start;
        font-size: 14px;
    }
    .logoContainer{
        margin: 0;
    }
    .logo{
        width: 130px;
    }
    .column:first-child {
        max-width: 700px;
    }
    h3{
        margin-bottom: 0;
    }
    li{
        margin-bottom: 0;
    }
    .credentials{
        font-size: 14px;
    }
}