/* Existing CSS */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #94b9e1;
}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.logo {
    width: 254px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2px;
    width: 50%;
}

.nav-item {
    position: relative;
}

.vertical-divider {
    width: 2px;
    background-color: #004080;
}

.nav-links a {
    text-decoration: none;
    color: #004080;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

.nav-links .nav-item > a:hover {
    border-radius: 0;
    box-sizing: border-box;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-top: 10px;
}

.dropdown-menu a {
    padding: 10px;
    text-decoration: none;
    color: #004080;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.language-switcher {
    display: flex;
    align-items: center;
    width: 254px;
    justify-content: center;
}

.flag {
    height: 20px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 0;
}

.social-link {
    margin: 0 10px;
    font-size: 24px;
    color: #004080;
}

.nav-item .moreOptions {
    display: none;
}

.menu-icon button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.language-switcher button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.language-switcher button:hover {
    padding: 5px !important;
    padding-bottom: 3.55px !important;
    background-color: #82a1c2;
}

.signInLink {
    margin-left: 15px;
    text-decoration: none;
    color: #004080;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.signInLink:hover {
    color: #002c57;
    background-color: #f7f7f7;
}

@media (max-width: 1100px) {
    .navbar-top .nav-links .nav-item .navlinkIcon {
        display: none;
    }
}

@media (max-width: 860px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 95px;
        z-index: 1000;
        flex-wrap: nowrap;
        background-color: white;
    }

    .navbar-bottom {
        padding: 1px 0 0;
    }

    .nav-links.active {
        display: flex;
        width: fit-content;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .nav-links.active .nav-item .moreOptions {
        display: inline;
    }

    .nav-item {
        padding: 5px;
    }

    .language-switcher {
        width: fit-content;
        margin-left: 0;
        gap: 0;
    }

    .menu-icon {
        display: block;
    }

    .navbar-top {
        justify-content: center;
        gap: 10px;
    }

    .logo {
        width: 200px;
    }

    .social-link {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 125px;
    }

    .flag {
        height: 15px;
        width: 15px;
    }

    .navbar-top {
        align-items: center;
    }

    .nav-links {
        top: 73px;
    }

    .firstMinistryLink {
        margin-top: 50px;
    }

    .navbar-bottom {
        margin-top: 1px;
    }

    .language-switcher button {
        padding: 2px;
    }

    .signInLink {
        font-size: 12px;
    }
}

.dropActive {
    display: flex !important;
}

/* New CSS for user-details and signInLogoutPart */
.user-details {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 8px;
    display: none;
}

.user-details p {
    margin: 0 0 10px 0;
    color: #004080;
}

.user-details button {
    border: none;
    background-color: #004080;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-details button:hover {
    background-color: #003366;
    padding: 5px 10px !important;
}

.signInLogoutPart {
    position: relative;
}

.signInLogoutPart:hover .user-details {
    display: block;
}

.signInLogoutPart a {
    text-decoration: none;
    color: #004080;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

.signInLogoutPart a:hover {
    color: #002c57;
    background-color: #f7f7f7;
}
